.donateContainer {
  // text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;

  margin-bottom: 20px;

  h1 {
    font-size: 90px;
    margin-top: 80px;
    color: #205691;
  }

  .CardsDonate {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
