.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;

  img {
    border-radius: 10px;
  }

  text-align: center;

  button {
    padding: 8px 46px;
    text-align: center;
    background-color: #205691;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;
  }
}
