.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  gap: 20px;

  max-width: 358px;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
  }

  p {
    flex-grow: 1;
  }

  text-align: center;

  button {
    padding: 8px 46px;
    text-align: center;
    background-color: #205691;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;

    font-weight: bold;

    width: 16rem;
    height: 3rem;

    margin-top: auto;
  }
}
